config HISILICON_PLATFORM_POWER_CONTROL
	bool "Support HiSilicon Hi6XXX Power Control"
	depends on ARCH_HI6XXX
	default n
	help
	  This driver supports HiSilicon HiXXX Power Control,
	  including hisilicon hi6xxx power control driver, etc.