config HI6XXX_MODEM_MULTICORE
	bool "Kirin620 modem part for multicore support"
	select HI6XXX_MAILBOX_MULTICORE
	default n
	help
	  Say yes here to support the Kirin620 modem part for multicore lib
config HI6XXX_MODEM_PLATFORM
        bool "Hisilicon Kirin620 modem platform support"
        default n
        help
          Say yes here to support the hisilicon Kirin620 modem platform

if HI6XXX_MODEM_PLATFORM

source "drivers/hisi/modem_hi6xxx/interface/Kconfig"
source "drivers/hisi/modem_hi6xxx/ipf/Kconfig"
source "drivers/hisi/modem_hi6xxx/rfile/Kconfig"
source "drivers/hisi/modem_hi6xxx/timer/Kconfig"
source "drivers/hisi/modem_hi6xxx/om/Kconfig"

endif          #HI6XXX_MODEM_PLATFORM
